# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore
# Exclude Webstorm-Bullshit
.idea
/.vscode
/node_modules
/www/build
/platforms
/plugins
*.swp
.DS_Store
Thumbs.db

# Exclude typings
/typings

