<ion-header>
  <ion-navbar>
    <ion-title>
      分类
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="about">

  <h2> {{shop?.name}} </h2>

  <ion-grid>
    <ion-row>
      <ion-col width-33>
        <ion-list>
          <ion-item *ngFor="let category of categories" (click)="selecteCategory(category)">
            {{category.name}}
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col width-67>
        <ion-list>
          <ion-item *ngFor="let product of products">
            {{product.name}}
          </ion-item>
        </ion-list>
      </ion-col>

    </ion-row>
  </ion-grid>



</ion-content>