<ion-header>
  <ion-navbar>
    <ion-title>
      购物车
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group *ngFor="let order of orders">

      <ion-item-sliding *ngFor="let item of order.items">
        <ion-item>
          <div item-left>
            <ion-img [src]="getProductImageUrl(item.product,48)" width="48" height="48"></ion-img>
          </div>

          {{item.product.name}} - ({{item.product.unit_price}}) x {{item.amount}}

          <button clear item-right (click)="removeAmount(item)">
            <ion-icon name="remove-circle"></ion-icon>
          </button>
          <span item-right>
          {{item.amount}}            
          </span>
          <button clear item-right (click)="addAmount(item)">
            <ion-icon name="add-circle"></ion-icon>
          </button>

        </ion-item>

        <ion-item-options side="left">
          <button primary>
        <ion-icon name="text"></ion-icon>
        Text
      </button>
          <button secondary>
        <ion-icon name="call"></ion-icon>
        Call
      </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button danger>
        <ion-icon name="trash"></ion-icon>
        Email
      </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-list-header>
        <div item-left>
          {{order.shop.name}}
        </div>

        <div item-right>
          {{order.total_price}}
        </div>

        <div item-right>
          <button outline (click)="checkout(order)">结算</button>
        </div>

      </ion-list-header>
    </ion-item-group>
  </ion-list>





</ion-content>

<ion-footer no-shadow>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>